In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(
    user = "admin",
    password = "admin",
    database = "LittleLemonDB")

In [3]:
cursor = connection.cursor()

In [4]:
show_table_query = "SHOW TABLES;"
cursor.execute(show_table_query)

In [5]:
result = cursor.fetchall()

In [6]:
print(result)

[('address',), ('booking',), ('customer',), ('menu',), ('menu_items',), ('order_items',), ('orders',), ('orders_view',), ('restaurant_table',), ('staff',)]

In [7]:
candidate_customers = """
SELECT
    CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
    c.telephone,
    c.email
FROM
    customer AS c
    INNER JOIN
    orders AS o
    ON o.customer_id = c.customer_id
WHERE
    o.total_cost > 60;
"""

In [9]:
cursor.execute(candidate_customers)

In [10]:
result_customers = cursor.fetchall()

In [15]:
print(cursor.column_names)
for row in result_customers:
    print(row)

('customer_name', 'telephone', 'email')
('Catherine Miller', '444-555-6666', 'catherine.miller@email.com')
('John Doe', '123-456-7890', 'john.doe@email.com')
('David Wilson', '777-888-9999', 'david.wilson@email.com')
('Jane Smith', '987-654-3210', 'jane.smith@email.com')
('Ava Jones', '555-111-2222', 'ava.jones@email.com')
('Ethan Anderson', '888-999-0000', 'ethan.anderson@email.com')
('John Doe', '123-456-7890', 'john.doe@email.com')
('Emily Brown', '111-222-3333', 'emily.brown@email.com')
('Ethan Anderson', '888-999-0000', 'ethan.anderson@email.com')
('Sarah Anderson', '222-333-4444', 'sarah.anderson@email.com')
('Liam Smith', '111-222-3333', 'liam.smith@email.com')
('Emma Williams', '444-555-6666', 'emma.williams@email.com')
('Amy Miller', '444-555-6666', 'amy.miller@email.com')
('David Wilson', '777-888-9999', 'david.wilson@email.com')
('Zoe Harrison', '777-888-9999', 'zoe.harrison@email.com')
('Catherine Miller', '444-555-6666', 'catherine.miller@email.com')
('Sarah Anderson', '222-333-4444', 'sarah.anderson@email.com')
('Robert Jones', '888-999-0000', 'robert.jones@email.com')
('Henry Baker', '555-111-2222', 'henry.baker@email.com')
('Lily Adams', '999-000-1111', 'lily.adams@email.com')
('Leo Fisher', '444-555-6666', 'leo.fisher@email.com')
('Olivia Davis', '222-333-4444', 'olivia.davis@email.com')
('Elijah Wright', '444-555-6666', 'elijah.wright@email.com')
('Ava Jones', '555-111-2222', 'ava.jones@email.com')
('Olivia Davis', '222-333-4444', 'olivia.davis@email.com')
('Amy Miller', '444-555-6666', 'amy.miller@email.com')

In [16]:
cursor.close()

True

In [17]:
connection.close()